<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-logo-title">
            <img src="img/blogLogo.jpg" alt="Blog Logo" class="logo-header">
            <h1>Welcome to your own blog site</h1>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Create Blog</a></li>
                <li><a href="#">Edit Blog</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="main-container">
            <div class="blogCard-container">
                <img src="img/logoFeatherbook.jpg" alt="Book Logo">
                <div class="blogCard-bio-container">
                    <h2 class="blogCard-title">Have some duck</h2>
                    <div class="blogCard-info-container">
                        <p class="info">user1234</p>
                        <div class="borderLine"></div>
                        <p class="info">Jan 5, 2024</p>
                        <div class="borderLine"></div>
                        <p class="info">Robot Innovation</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Sequi tenetur rerum veritatis sed. Placeat dignissimos iusto 
                    dolore quia nesciunt maxime adipisci voluptatem reprehenderit 
                    consequatur accusantium. Sunt error ut ex quia?</p>
                </div>
            </div>
            
            <div class="blogCard-container">
                <img src="img/logoFeatherbook.jpg" alt="Book Logo">
                <div class="blogCard-bio-container">
                    <h2 class="blogCard-title">Have some duck</h2>
                    <div class="blogCard-info-container">
                        <p class="info">user1234</p>
                        <div class="borderLine"></div>
                        <p class="info">Jan 5, 2024</p>
                        <div class="borderLine"></div>
                        <p class="info">Robot Innovation</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Sequi tenetur rerum veritatis sed. Placeat dignissimos iusto 
                    dolore quia nesciunt maxime adipisci voluptatem reprehenderit 
                    consequatur accusantium. Sunt error ut ex quia?</p>
                </div>
            </div>

            <div class="blogCard-container">
                <img src="img/logoFeatherbook.jpg" alt="Book Logo">
                <div class="blogCard-bio-container">
                    <h2 class="blogCard-title">Have some duck</h2>
                    <div class="blogCard-info-container">
                        <p class="info">user1234</p>
                        <div class="borderLine"></div>
                        <p class="info">Jan 5, 2024</p>
                        <div class="borderLine"></div>
                        <p class="info">Robot Innovation</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Sequi tenetur rerum veritatis sed. Placeat dignissimos iusto 
                    dolore quia nesciunt maxime adipisci voluptatem reprehenderit 
                    consequatur accusantium. Sunt error ut ex quia?</p>
                </div>
            </div>

            <div class="blogCard-container">
                <img src="img/logoFeatherbook.jpg" alt="Book Logo">
                <div class="blogCard-bio-container">
                    <h2 class="blogCard-title">Have some duck</h2>
                    <div class="blogCard-info-container">
                        <p class="info">user1234</p>
                        <div class="borderLine"></div>
                        <p class="info">Jan 5, 2024</p>
                        <div class="borderLine"></div>
                        <p class="info">Robot Innovation</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Sequi tenetur rerum veritatis sed. Placeat dignissimos iusto 
                    dolore quia nesciunt maxime adipisci voluptatem reprehenderit 
                    consequatur accusantium. Sunt error ut ex quia?</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>